
.mask-box {
  background: rgb(17, 24, 39);
  position: relative;
  width: 700px;
  height: 200px;
}

.mask-box .mask {
  background-blend-mode: normal;
  height: 100%;
  width: 250px;
  float: right;
}


.acm {
  background-image: linear-gradient(to right, rgb(17, 24, 39), transparent), url("../assets/acm.png");
}

.lanqiao {
  background-image: linear-gradient(to right, rgb(17, 24, 39), transparent), url("../assets/lanqiaopng.png");

}

@media screen and (max-width: 770px) {
  .mask-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mask-box .mask {
    display: block;
    height: 200px;
  }
  .acm {
    background-image: linear-gradient(to bottom, rgb(17, 24, 39), transparent), url("../assets/acm.png") ;
  }
  .lanqiao {
    background-image: linear-gradient(to bottom, rgb(17, 24, 39), transparent), url("../assets/lanqiaopng.png");
  
  }
}