.maskHidden {
  display: none;
}

.maskShow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(115,122,184,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}